{% extends 'blog/base.html' %}

{% block title %}
    {{ article.name }}
{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white ml-xl-5">
            {% for item in breadcrumb %}
                {% if forloop.last %}
                    <li class="breadcrumb-item active font-weight-bold" aria-current="page">{{ item.name }}</li>
                {% else %}
                    <li class="breadcrumb-item font-weight-bold"><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
    <div class="container">
        {{ article.body|safe }}
    </div>
{% endblock %}